name: Release ubuntu-pro-operator to latest/edge

on:
  push:
    branches:
      - main

jobs:
  test:
    uses: ./.github/workflows/ci-tests.yml

  release:
    name: Build and Release ubuntu-pro-operator
    runs-on: ubuntu-latest
    needs: [test]
    strategy:
      matrix:
        charm:
          - name: ubuntu-pro
            target: ubuntu-pro
            track: latest/edge
          - name: ubuntu-pro_noble
            target: ubuntu-pro_noble
            track: latest/edge
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup LXD
        uses: canonical/setup-lxd@v0.1.3
        with:
          channel: latest/stable

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Build ${{ matrix.charm.name }}
        run: make ${{ matrix.charm.target }}

      - name: Copy charm files to root
        run: |
          cp -r ./charms/${{ matrix.charm.target }}/* .

      - name: Build charm and upload charm and image resource to Charmhub
        uses: canonical/charming-actions/upload-charm@2.4.0
        with:
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          pull-image: "false"
          channel: ${{ matrix.charm.track }}
          destructive-mode: "false"
